.Recents .title {
  font-size: 48px;
  color: white;
  text-shadow:
    1px 1px 0 rgb(25%, 25%, 25%),
    -1px -1px 0 rgb(25%, 25%, 25%),
    1px -1px 0 rgb(25%, 25%, 25%),
    -1px 1px 0 rgb(25%, 25%, 25%);
}
