.OuterBoxItem {
  font-weight: 500;
  --color_font_body: oklch(var(--g3) 0);
  --color_icon: oklch(var(--g3) 0);
}
.OuterBoxItem.highlighted {
  --color_font_body: oklch(var(--deep) var(--hue));
  --color_icon: oklch(var(--deep) var(--hue));
}

.OuterBoxItem .toggle > svg {
  transition: 0.1s ease;
}

.OuterBoxItem .buttons {
  display: none !important;
  opacity: 0;
  transition: 0.2s ease;
}
.OuterBoxItem .self:hover .buttons,
.OuterBoxItem.isSelected .buttons {
  display: flex !important;
}
.OuterBoxItem .self:hover .buttons {
  opacity: 0.4;
}
.OuterBoxItem.isSelected .buttons {
  opacity: 1 !important;
}
