:root {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}

.Block {
  transition: all 0.2s ease;
  outline: 1px solid transparent;

  @include state.hover {
    cursor: initial;
    outline-color: oklch(50% 0 0 / 0.08);
  }

  @include state.on {
    outline-color: oklch(50% 0 0 / 0.16);
    background-color: oklch(50% 0 0 / 0.04);
  }
}

.Heading {
  line-height: 2;
}
h1.Heading {
  font-size: 4em;
}
h2.Heading {
  font-size: 3em;
}
h3.Heading {
  font-size: 2em;
}
h4.Heading {
  font-size: 1.5em;
}
h5.Heading {
  font-size: 1.25em;
}
h6.Heading {
  font-size: 1em;
}
