.Selectable {
  /* local variable */
  --primary: var(--g3) 0;
  --secondary: var(--g3) 0;

  /* cascading variable */
  color: var(--color_font_body);
  opacity: 1;
  transition: 0.2s ease;
  cursor: pointer;
}
.selected:hover {
  opacity: 0.9;
}
.selected:active {
  opacity: 0.8;
}

.Selectable:hover {
  background-color: oklch(var(--primary) / 0.1);
  --color_font_body: oklch(var(--primary));
  --color_icon: oklch(var(--primary));
}
.Selectable:active {
  background-color: oklch(var(--primary) / 0.04);
  --color_font_body: oklch(var(--primary));
  --color_icon: oklch(var(--primary));
}
.Selectable.selected {
  --primary: var(--g4) 0;
  background-color: oklch(var(--primary) / 0.2);
  --color_font_body: oklch(var(--primary));
  --color_icon: oklch(var(--primary));
}

.colored {
  --secondary: var(--vivid) var(--hue);
}
.colored:hover {
  --primary: var(--deep) var(--hue);
  background-color: oklch(var(--secondary) / 0.08);
  --color_font_body: oklch(var(--primary) / 0.8);
}
.colored:active {
  --primary: var(--deep) var(--hue);
  background-color: oklch(var(--secondary) / 0.04);
  --color_font_body: oklch(var(--primary) / 0.8);
}
.colored.selected {
  --primary: var(--deep) var(--hue);
  background-color: oklch(var(--secondary) / 0.16);
}

.bordered {
  border: 1px solid var(--color_border);
}
.bordered:hover {
  --color_border: oklch(var(--primary) / 0.2);
}
.bordered:active {
  --color_border: oklch(var(--primary) / 0.4);
}
.bordered.selected {
  --color_border: oklch(var(--primary) / 0.75);
}

.inversed.selected {
  --color_font_body: oklch(var(--g1) 0);
  background-color: oklch(var(--primary) / 0.75);
}
