.Overlay {
  animation: appear 0.2s ease-in-out;
}
.Overlay.closing {
  animation: disappear 0.2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
