.HomePage .heading {
  letter-spacing: -0.02em;
}
.HomePage .small {
  font-size: 4rem;
  line-height: 340%;
  font-weight: 200;
}

.HomePage .no-underline {
  text-decoration: none !important;
}

.HomePage .card {
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  transition: 0.2s ease;
}
.HomePage .card h4 {
  line-height: 100%;
}
.HomePage .card p {
  font-weight: 200;
  font-style: italic;
  color: rgba(124, 124, 124);
}
.HomePage .card:hover {
  transform: translateX(8px);
  background-color: rgba(0, 0, 0, 0.04);
}
