.Toggle {
  --content: oklch(60% 0 0);

  border-radius: 6px;
  background-color: oklch(98% 0 0);

  font-size: 13px;
  font-weight: 500;
  color: var(--content);

  transition: all 0.1s ease-in-out;

  &.bordered {
    border: 1px solid var(--content);
  }

  @include state.hover {
    background-color: oklch(95% 0 0);
  }
  @include state.active {
    background-color: oklch(90% 0 0);
  }
  @include state.on {
    --content: oklch(64% 0.4 240);
    background-color: oklch(64% 0.4 240 / 0.04);

    @include state.hover {
      background-color: oklch(64% 0.4 240 / 0.08);
    }
    @include state.active {
      background-color: oklch(64% 0.4 240 / 0.2);
    }
  }
}
